@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}



.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center ;
}



.header{
   box-shadow: 0px -3px 8px;
}


.menu{
    display: grid;
    grid-template-columns: 70px 170px 685px 182px;
    grid-template-rows: 1fr;
    grid-gap: 12px 20px;
    align-items: center;
}
 


#block1{
    grid-column: 1/2;
}

#block2{
   
    text-align: left;
    grid-column: 2/3;
    color: #2D3436;
}

#block3{
    
    grid-column: 3/4;
}

#block4{
    
    grid-column: 4/5;
}


.logo_text{
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #2D3436;
}


#block4 > .btn{
    font-size: 24px;
    line-height: 36px;
    padding: 12px 32px;
}

.links{
    align-items: center;
}

ul{
    display: flex;
}

.logo_text > a:visited {
    color: #2D3436; /* Цвет посещенных ссылок */
   }

hr > a:visited {
    color: #6C5CE7;
}

#first_link > a:visited {
    color: #2D3436;
}


li:hover{
    font-size: 17px;
}

.logo_text a:hover{
    color: #6C5CE7;
}

#first_link:hover{
    font-size: 17px;
}

ul.hr li{
       margin-right: 15px;
       color: #6C5CE7;
       padding-left: 15px;
}
li.link::marker{
    color: gold;
}

a{
    text-decoration: none;
}

.none_dots{
    list-style-type: none;
}

.link{
    font-weight: 400;
    font-size: 18px;
}

#first_link{
    color: #2D3436;
    font-weight: 800;
    font-size: 18px;
}













.offer{
    margin-top: 3px;
   background-image: url(./assets/gr.jpg);
   background-position: 100% 0;
   background-repeat: no-repeat;
}

.title{
    padding-top: 70px;
}

.txt1{
  
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    z-index: 5;
}
.txt2:before{
    content: "To represent a product";
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
}
.txt1 > span{
    color: red;
    position: relative;
    z-index: 2;
    
}

.txt1 > span:before{
    content: "fine";
}

.txt1 > span:after{
    content: "";
    position: absolute;
    background-color: #55EFC4;
    width: calc(100% + 3px);
    height: 50px;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 100px;
}

.subtitle_card{
    margin-top: 64px;
    display: grid;
    grid-template-columns: 270px 270px 180px 182px 182px;
    grid-template-rows: 67px 60px 268px 193px 180px;
    grid-gap: 12px 20px;
}

#grid1{
    grid-row: 1/3 ;
    grid-column: 1/2 ;
    text-align: left;
    padding-right: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D3436;
}

#grid2{
    background-image: url(assets/1.png);
    grid-row: 3/5 ;
    grid-column: 1/2 ;
    background-repeat: no-repeat;
}

#grid3{
    grid-row: 5/6 ;
    grid-column: 1/2 ;
    margin-top: 20px;
}

#grid4{
    background-image: url(assets/2.png);
    grid-row: 1/5 ;
    grid-column: 2/4 ;
    background-repeat: no-repeat;
}

#grid5{
    background-image: url(assets/3.png);
    grid-row: 4/6 ;
    grid-column: 2/3 ;
    background-repeat: no-repeat;
}

#grid6{
    background-image: url(assets/4.png);
    grid-row: 4/6 ;
    grid-column: 3/5 ;
    background-repeat: no-repeat;
}

#grid7{
    grid-row: 2/3 ;
    grid-column: 4/6 ;
    text-align: left;
    padding-right: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D3436;
}

#grid8{
    background-image: url(assets/5.png);
    grid-row: 3/5 ;
    grid-column: 4/5 ;
    background-repeat: no-repeat; 
}

#grid9{
    background-image: url(assets/6.png);
    grid-row: 3/5 ;
    grid-column: 5/6 ;
    background-repeat: no-repeat; 
}

#grid10{
    background-image: url(assets/7.png);
    grid-row: 4/6 ;
    grid-column: 5/6 ;
    background-repeat: no-repeat; 
}

.btn{

    color: #FFFFFF;
    background: #6C5CE7;
    border-radius: 999px;
    padding: 16px 30px;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    border: 0;
    align-items: center;
    text-align: center;
}

.btn:hover{
    color: #7c6bf8;
    background: #2D3436;
}





@media screen and (max-width: 1181px){
    
    .menu{
       
        grid-template-columns: 50px 150px 625px 152px;
        
    }




    .subtitle_card{
       
        grid-template-columns: 263px 290px 160px 142px 135px;
        
    }
}

@media screen and (max-width: 1087px){

    .subtitle_card{
       
        grid-template-columns: 263px 290px 160px 142px 110px;
        
    }

}




@media screen and (max-width: 1060px){
   
    #block3{
    
        display: none;
    }


    .menu{
        
        grid-template-columns: 50px 110px  172px;
       
    }


    #grid1{
        display: none;
    }
    #grid7{
        display: none;
    }
   
   
    #grid9{
        display: none;
    }
    #grid10{
        display: none;
    }
    .menu{
        
        grid-template-columns: 50px 110px  1fr;
       
    }

    #grid2{
        background-image: url(assets/1_adapt.png);
    }

    .btn{
        margin-top: 0;
        color: #FFFFFF;
        background: #6C5CE7;
        border-radius: 999px;
        padding: 8px 15px;
        font-weight: 400;
        font-size: 22px;
        line-height: 48px;
        border: 0;
        
        text-align: center;
    }

    #grid3{
        grid-row: 5/7 ;
        grid-column: 2/3 ;
        margin-top: 20px;
    }
    
    .txt2:before{
        content: "To create any grid by scaling and resizing";
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        
    }

    .txt1 > span:before{
        content: "Cool";
    }
    
    .subtitle_card{
        grid-template-columns: 183px 265px 170px 172px 60px;
        grid-template-rows: 67px 60px 268px 283px 180px;
    }
}

@media screen and (max-width: 863px){
    .subtitle_card{
        grid-template-columns: 133px 265px 170px 142px ;
    }
}

@media screen and (max-width: 782px){
    .subtitle_card{
        grid-template-columns: 133px 282px 170px 92px ;
    }
}